<app-auth-card title="Mot de passe oublié">
  @let forgotPassword = forgotPassword$ | async;
  <p class="mt-1.5">Réinitialisez votre mot de passe un lien de réinitialisation vous sera envoyé.</p>
  <form class="mt-6 flex flex-col gap-4" [formGroup]="forgotPasswordForm">
    <div class="flex flex-col gap-1.5 mb-3">
      <label for="email" class="font-medium">Adresse e-mail</label>
      <input pInputText type="email" id="email" name="email" formControlName="email" autocomplete="none" />
    </div>
    <div class="inline-flex -mt-5 w-full items-center justify-between">
      Mot de passe?
      <a class="text-md font-medium text-primary-400 hover:underline" [routerLink]="['/sign-in']"> Connectez-vous! </a>
    </div>
    <p-button
      (onClick)="submitForgotPassword()"
      [loading]="forgotPassword?.isLoading"
      [disabled]="forgotPassword?.isLoading || forgotPasswordForm.invalid"
      type="submit"
      class="mt-4">
      Réinitialisation
    </p-button>
  </form>
</app-auth-card>
