<div class="flex rounded-lg shadow flex-col">
  <div class="relative w-40 h-40 p-4 flex justify-center items-center">
    <img [src]="product() | apiIMG: 'product'" alt="shopping image" class="object-cover" />
  </div>
  <form class="flex-auto px-6 pb-4">
    <div class="flex flex-wrap">
      <h1 class="flex-auto text-lg font-semibold mb-1.5 line-clamp-1">
        {{ product()?.name }}
      </h1>
      <div class="text-xl font-semibold text-gray-500 mb-4">
        {{ product()?.price | currency: 'USD' }}
      </div>
    </div>
    <p class="text-sm text-gray-500 line-clamp-2">
      {{ product()?.description }}
    </p>
  </form>
</div>

<!-- <div class="flex-col md:flex-row justify-between flex gap-4 items-start mx-4 mb-2 animate-pulse">
  <div class="flex rounded-lg shadow flex-col">
    <div class="relative w-full md:w-48 h-40 m-4 flex justify-center items-center bg-gray-200"></div>
    <form class="flex-auto px-6 pb-6">
      <div class="flex flex-wrap">
        <div class="h-4 bg-gray-200 rounded w-full mb-1.5"></div>
        <div class="h-4 bg-gray-200 rounded w-1/2 mb-3"></div>
      </div>
      <div class="h-2 bg-gray-200 rounded w-64 mb-1.5"></div>
      <div class="h-2 bg-gray-200 rounded w-64"></div>
    </form>
  </div>
</div> -->
