<footer class="border-t border-dashed border-gray-200 py-10">
  <div class="px-8 mx-auto md:max-w-screen-lg xl:px-0">
    <div class="flex gap-8 items-start justify-between flex-wrap">
      @for (link of links; track $index) {
        <div class="flex flex-col gap-3 mb-6">
          <h5 class="font-semibold mb-3 text-gray-900 text-lg border-r border-gray-200 pr-3">{{ link.title }}</h5>
          <ul class="list-disc flex flex-col gap-3">
            @for (url of link.urls; track $index) {
              <li class="ml-4">
                @if (url.external) {
                  <a target="_blank" class="text-satoshi text-sm md:text-base hover:underline" [href]="url.path">{{
                    url.name
                  }}</a>
                } @else {
                  <a1
                    [fragment]="url.fragment"
                    class="text-satoshi text-sm md:text-base hover:underline"
                    [routerLink]="url.path">
                    {{ url.name }}
                  </a1>
                }
              </li>
            }
          </ul>
        </div>
      }
      <div class="flex flex-col gap-2 md:col-span-1">
        <a routerLink="/" class="flex items-center gap-3 cursor-pointer mb-4 font-bold text-2xl"> Luapula </a>
        <h5 class="font-semibold mb-4">Copyright</h5>
        <p class="">&copy; PNUD {{ getYear() }}. Tous droits réservés</p>
      </div>
    </div>
  </div>
</footer>
