<app-auth-card title="Réinitialisation du mot de passe">
  @let resetPassword = resetPassword$ | async;
  <p class="mt-1.5">Veuillez saisir votre nouveau mot de passe pour réinitialiser votre compte.</p>
  <form class="mt-8 flex flex-col gap-4" [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
    <div class="flex flex-col gap-1.5">
      <label for="passwordInput" class="font-medium">Mot de passe</label>
      <p-password
        id="password"
        name="password"
        [feedback]="false"
        formControlName="password"
        [toggleMask]="true"
        autocomplete="none"
        inputId="passwordInput" />
    </div>
    <div class="flex flex-col gap-1.5">
      <label for="passwordConfirm" class="font-medium">Confirmer le mot de passe</label>
      <p-password
        id="password"
        name="password"
        [feedback]="false"
        formControlName="password_confirm"
        [toggleMask]="true"
        autocomplete="none"
        inputId="passwordConfirm" />
    </div>
    <p-button
      (onClick)="onResetPassword()"
      [loading]="resetPassword?.isLoading"
      [disabled]="resetPassword?.isLoading || resetPasswordForm.invalid"
      class="mt-4"
      type="submit">
      Réinitialisation
    </p-button>
  </form>
</app-auth-card>
