<!-- <section>
  <div
    class="relative min-h-screen py-80 w-full mt-20 flex flex-col bg-[url('/images/auth.webp')] bg-cover bg-center bg-no-repeat">
    <div
      @fadeInStagger
      class="absolute top-0 left-0 z-10 right-0 bottom-0 flex flex-col items-start justify-center bg-primary-950/35 gap-6 text-white">
      <div class="flex flex-col items-start justify-center font-medium px-8 mx-auto md:max-w-screen-lg xl:px-0">
        <h1 class="fade-item font-black text-3xl hyphens-none xl:text-6xl mb-6">Fikiri – La carte des solutions.</h1>
        <p class="fade-item font-medium text-xl xl:text-2xl mb-6 hyphens-none">
          Atteindre les objectifs de développement durable avec fikiri, une plateforme d'accompagnement d'idées et de
          solutions.
        </p>
        <div class="flex flex-wrap gap-4">
          <a [routerLink]="['/sign-in']" class="fade-item primary-link"> Rejoignez-nous </a>
          <a [routerLink]="['/calls']" class="fade-item secondary-link"> Voir les appels </a>
        </div>
      </div>
    </div>
  </div>
</section> -->
